<!DOCTYPE html>
<html lang="en">

<%- include("../Components/header.ejs") %>

<body>
    <main>
      
        <%- include("../Components/sidebar.ejs") %>
      
      
        <div class="b-example-divider"></div>
        <div class="container-fluid overflow-auto" style="margin:0;padding:0;">
            <div class="container-fluid bg-dark p-2">
                <h1 class=" text-white">bank_accounts</h1>
            </div>

        
        <%- include("../Pages/bank_accounts/bank_accounts.ejs") %>
        </div>
      </main>


      <%- include("../Components/footer.ejs") %>
      <%- include("../Pages/bank_accounts/bank_accountsscripts.ejs") %>
</body>
</html>