<!DOCTYPE html>
<html lang="en">

<%- include("../Components/header.ejs") %>

<body>
    <main>
      
        <%- include("../Components/sidebar.ejs") %>
      
      
        <div class="b-example-divider"></div>
        <div class="container-fluid overflow-auto" style="margin:0;padding:0;">
            <div class="container-fluid bg-dark p-2">
                <h1 class=" text-white">payment_types</h1>
            </div>

        
        <%- include("../Pages/payment_types/payment_types.ejs") %>
        </div>
      </main>


      <%- include("../Components/footer.ejs") %>
      <%- include("../Pages/payment_types/payment_typesscripts.ejs") %>
</body>
</html>