<!DOCTYPE html>
<html lang="en">

<%- include("../Components/header.ejs") %>

<body>
    <main>
      
        <%- include("../Components/sidebar.ejs") %>
      
      
        <div class="b-example-divider"></div>
        <div class="container-fluid overflow-auto" style="margin:0;padding:0;">
            <div class="container-fluid bg-dark p-2">
                <h1 class=" text-white">Purchase Order Header</h1>
            </div>
        
        <%- include("../Pages/purchase_order_headers/purchase_order_headers.ejs") %>
        </div>
      </main>

      <%- include("../Components/footer.ejs") %>
      <%- include("../Pages/purchase_order_headers/purchase_order_headersscripts.ejs") %>
</body>
</html>